@model SkillsetManager.Models.FormModel
@{
	ViewBag.Title = "Form";
}

<h2>Form</h2>
<p>@ViewBag.Message</p>
@using (Html.BeginForm("Form", "Home"))
{
	<div class="form-group">
		@Html.LabelFor(m=> m.Name)
		@Html.TextBoxFor(m=> m.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(m=>m.Name,"",new { @class="danger"})
	</div>

	<div class="form-group">
		@Html.LabelFor(m=> m.Birthdate)
		@Html.TextBoxFor(m=> m.Birthdate, "", new { @class = "form-control"})
		@Html.ValidationMessageFor(m=>m.Birthdate, "", new { @class = "danger" })
	</div>

	<button type="submit" class="btn btn-primary">Save</button>
}
